@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

.cal{
    display: inline-block;
    vertical-align: top;
    border: 1px solid black;


}

.cal .cal-button {
    height: 6em;
    width: 6em;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    background-color: wheat;
    color: teal;

}
.cal .cal-button:hover{
    background-color: teal;
    color: wheat;
}

.cal .cal-button.cal-Clear {
    width: 18em;
}

.cal .cal-button.cal-0{
    width: 12em;
}

.cal .cal-output {
    display: flex;
    border: 1px solid black;
    height: 5em;
    text-align: right;
    flex-direction: row-reverse;
    background-color: white;
}

.cal .cal-output span {
    display: inline-flex;
    align-items: flex-end;
    font-size: 3em;
}